<!--main-blog-box-->
<div class="main-blog-box cnt-section bg-box bg-top">
	<div class="inner-wrap">
		<h2 class="h1-title">Наш блог</h2>
		<div class="blog-outer-wrap">
			<div class="soc-outer-wrap">
				<a href="" class="soc-wrap">
					<img src="./img/inst.jpg" alt="" class="img-bg-cover">
					<span class="soc-title-wrap">
									<img src="./img/icons/soc-inst.svg" alt="">
									<span class="soc-title">Наш Instagram</span>
								</span>
				</a>
			</div>
			<div class="slider-outer-wrap">
				<div class="slider-wrap">
					<div class="slider">
						<!--sl-wrap-->
						<div class="sl-wrap">
							<a href="" class="item-tile-blog">
											<span class="tile-photo-wrap">
												<span class="tile-photo elm-photo photo-cover">
													<img src="./img/blog.jpg" alt="">
												</span>
											</span>
								<span class="tile-text-wrap">
												<span class="tile-text">Принимая во внимание показатели успешности, разбавленное изрядной долей эмпатии, рациональное мышление требует от нас.</span>
											</span>
								<span class="tile-actions-wrap">
												<span class="tile-date">12 марта 2021</span>
												<span class="tile-link">Читать далее</span>
											</span>
							</a>
							<a href="" class="item-tile-blog">
											<span class="tile-photo-wrap">
												<span class="tile-photo elm-photo photo-cover">
													<img src="./img/blog.jpg" alt="">
												</span>
											</span>
								<span class="tile-text-wrap">
												<span class="tile-text">Принимая во внимание показатели успешности, разбавленное изрядной долей эмпатии, рациональное мышление требует от нас.</span>
											</span>
								<span class="tile-actions-wrap">
												<span class="tile-date">12 марта 2021</span>
												<span class="tile-link">Читать далее</span>
											</span>
							</a>
						</div>
						<!--/sl-wrap-->
						<!--sl-wrap-->
						<div class="sl-wrap">
							<a href="" class="item-tile-blog">
											<span class="tile-photo-wrap">
												<span class="tile-photo elm-photo photo-cover">
													<img src="./img/blog.jpg" alt="">
												</span>
											</span>
								<span class="tile-text-wrap">
												<span class="tile-text">Принимая во внимание показатели успешности, разбавленное изрядной долей эмпатии, рациональное мышление требует от нас.</span>
											</span>
								<span class="tile-actions-wrap">
												<span class="tile-date">12 марта 2021</span>
												<span class="tile-link">Читать далее</span>
											</span>
							</a>
							<a href="" class="item-tile-blog">
											<span class="tile-photo-wrap">
												<span class="tile-photo elm-photo photo-cover">
													<img src="./img/blog.jpg" alt="">
												</span>
											</span>
								<span class="tile-text-wrap">
												<span class="tile-text">Принимая во внимание показатели успешности, разбавленное изрядной долей эмпатии, рациональное мышление требует от нас.</span>
											</span>
								<span class="tile-actions-wrap">
												<span class="tile-date">12 марта 2021</span>
												<span class="tile-link">Читать далее</span>
											</span>
							</a>
						</div>
						<!--/sl-wrap-->
						<!--sl-wrap-->
						<div class="sl-wrap">
							<a href="" class="item-tile-blog">
											<span class="tile-photo-wrap">
												<span class="tile-photo elm-photo photo-cover">
													<img src="./img/blog.jpg" alt="">
												</span>
											</span>
								<span class="tile-text-wrap">
												<span class="tile-text">Принимая во внимание показатели успешности, разбавленное изрядной долей эмпатии, рациональное мышление требует от нас.</span>
											</span>
								<span class="tile-actions-wrap">
												<span class="tile-date">12 марта 2021</span>
												<span class="tile-link">Читать далее</span>
											</span>
							</a>
							<a href="" class="item-tile-blog">
											<span class="tile-photo-wrap">
												<span class="tile-photo elm-photo photo-cover">
													<img src="./img/blog.jpg" alt="">
												</span>
											</span>
								<span class="tile-text-wrap">
												<span class="tile-text">Принимая во внимание показатели успешности, разбавленное изрядной долей эмпатии, рациональное мышление требует от нас.</span>
											</span>
								<span class="tile-actions-wrap">
												<span class="tile-date">12 марта 2021</span>
												<span class="tile-link">Читать далее</span>
											</span>
							</a>
						</div>
						<!--/sl-wrap-->
						<!--sl-wrap-->
						<div class="sl-wrap">
							<a href="" class="item-tile-blog">
											<span class="tile-photo-wrap">
												<span class="tile-photo elm-photo photo-cover">
													<img src="./img/blog.jpg" alt="">
												</span>
											</span>
								<span class="tile-text-wrap">
												<span class="tile-text">Принимая во внимание показатели успешности, разбавленное изрядной долей эмпатии, рациональное мышление требует от нас.</span>
											</span>
								<span class="tile-actions-wrap">
												<span class="tile-date">12 марта 2021</span>
												<span class="tile-link">Читать далее</span>
											</span>
							</a>
							<a href="" class="item-tile-blog">
											<span class="tile-photo-wrap">
												<span class="tile-photo elm-photo photo-cover">
													<img src="./img/blog.jpg" alt="">
												</span>
											</span>
								<span class="tile-text-wrap">
												<span class="tile-text">Принимая во внимание показатели успешности, разбавленное изрядной долей эмпатии, рациональное мышление требует от нас.</span>
											</span>
								<span class="tile-actions-wrap">
												<span class="tile-date">12 марта 2021</span>
												<span class="tile-link">Читать далее</span>
											</span>
							</a>
						</div>
						<!--/sl-wrap-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/main-blog-box-->