<!--main-contacts-box-->
<div class="main-contacts-box cnt-section bg-box">
	<div class="inner-wrap">
		<div class="text-outer-wrap">
			<h2 class="h1-title">Мы ждем вас в&nbsp;нашем магазине</h2>
			<p class="text-lead">у нас огромный ассортимент на&nbsp;любой&nbsp;вкус</p>
			<p>Мы находимся:</p>
			<p>г. Москва, <br>ул. Красная площадь, дом 1, офис 222</p>
			<div class="phone-wrap">
				<a href="tel:89040049444" class="link-phone">8 (904) 004-94-44</a>
				<a href="" class="btn-action-ico button-message-main">
					<img src="./img/icons/soc-tg02.svg" alt="">
				</a>
			</div>
			<div class="callback-wrap">
				<a href="" data-src="#popup-callback" data-fancybox>Заказать обратный звонок</a>
			</div>
		</div>
	</div>
	<div class="map-wrap">
		<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-eov8YMYfEHTrqs_Q1kKzkBJYs6HKSuT&width=100%25&height=100%25&lang=ru_RU&sourceType=constructor"></script>
	</div>
</div><!--/main-contacts-box-->

<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="footer-text">2021, Все права защищены, <a href="">политика конфеденциальности</a></div>
	</div>
</footer>
<!-- /footer -->