
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.png" alt="">
			</a>
		</div>
		<div class="header-main-panel">
			<div class="header-top-panel">
				<div class="contacts-wrap">
					<div class="phone-wrap">
						<a href="tel:89040049444" class="link-phone">8 (904) 004-94-44</a>
					</div>
					<div class="messages-wrap">
						<a href="" class="btn-action-ico button-message">
							<img src="./img/icons/soc-tg.svg" alt="">
						</a>
					</div>
					<div class="callback-wrap">
						<a href="" class="link-main" data-src="#popup-callback" data-fancybox>Заказать обратный звонок</a>
					</div>
				</div>
				<div class="actions-wrap">
					<div class="action-wrap">
						<a href="" class="btn-action-icon">
							<span class="button-ico">
								<img src="./img/icons/user.svg" alt="">
							</span>
							<span class="button-title">Регистрация</span>
						</a>
					</div>
					<div class="action-wrap">
						<a href="" class="btn-action-icon">
							<span class="button-ico">
								<img src="./img/icons/lk.svg" alt="">
							</span>
							<span class="button-title">Личный кабинет</span>
						</a>
					</div>
				</div>
			</div>
			<div class="header-bottom-panel">
				<div class="menu-wrap main-menu-wrap js-popup-wrap">
					<a href="" class="btn-action-ico ico-menu js-btn-toggle"><span></span></a>
					<div class="menu-content-block js-popup-block">
						<ul class="menu">
							<li><a href="" class="btn-menu">Подписка</a></li>
							<li>
								<a href="" class="btn-menu">Чай</a>
								<ul>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
								</ul>
							</li>
							<li>
								<a href="" class="btn-menu">Фиточай</a>
								<ul>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
								</ul>
							</li>
							<li><a href="" class="btn-menu">Травы</a></li>
							<li>
								<a href="" class="btn-menu">Кофе</a>
								<ul>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
									<li><a href="">Пункт подменю</a></li>
								</ul>
							</li>
							<li><a href="" class="btn-menu">Интересные факты</a></li>
							<li><a href="" class="btn-menu">Доставка/оплата</a></li>
							<li><a href="" class="btn-menu">Контакты</a></li>
						</ul>
						<div class="mobile-menu-wrap">
							<div class="phone-wrap">
								<a href="tel:89040049444" class="link-phone">8 (904) 004-94-44</a>
							</div>
							<div class="callback-wrap">
								<a href="" data-src="#popup-callback" data-fancybox>Заказать обратный звонок</a>
							</div>
						</div>
					</div>
				</div>
				<div class="actions-wrap">
					<div class="action-wrap action-mobile">
						<a href="" class="btn-action-icon">
							<span class="button-ico">
								<img src="./img/icons/user.svg" alt="">
							</span>
						</a>
					</div>
					<div class="action-wrap action-mobile">
						<a href="" class="btn-action-icon">
							<span class="button-ico">
								<img src="./img/icons/lk.svg" alt="">
							</span>
						</a>
					</div>
					<div class="action-wrap">
						<a href="" class="btn-action-icon">
							<span class="button-ico ico-large" data-count="0">
								<img src="./img/icons/fav.svg" alt="">
							</span>
						</a>
					</div>
					<div class="action-wrap action-cart">
						<a href="" class="btn-action-icon button-att">
							<span class="button-ico ico-large" data-count="24">
								<img src="./img/icons/cart.svg" alt="">
							</span>
							<span class="button-title">15 155 ₽</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->